version: "3.9"

services:
  backend:
    build: ./backend
    container_name: cloudbox_app
    depends_on:
      - minio
    environment:
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    ports:
      - "4567:4567"
    networks:
      - cloudbox_net

  frontend:
    build: ./frontend
    container_name: cloudbox_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - cloudbox_net

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    networks:
      - cloudbox_net

networks:
  cloudbox_net:
    driver: bridge

volumes:
  minio_data:
